<<<<<<< HEAD
<% include header %>

    <div id="chatforum">
      <p>Dit is het chatforum voor het project</p>
    </div>

</body>
=======
<% include header %>

    <div id="chatforum">
      <p>Dit is het chatforum</p>
    </div>

</body>
>>>>>>> all files added
