<% include header %>

<a class=mapmenu href="/home" id="terug">Terug</a>
    <div id="chatforum">
      <div class="chatbox">
        <div class="messages">
          <div class="message">Welkom in het chatforum!</div>
        </div>
        <div class="input">
          <input type="text" placeholder="voer hier je bericht in"/></div>
        <button class="btn">Verzenden</button>
      </div>
    </div>

    <script src="js/chat.js"></script>

</body>
