<% include header %>

  <a class=mapmenu href="/home" id="terug">Terug</a>
    <div id="contact">
      <p id="infobedrijf">(Mampaa is een fictieve app)</p>
      <p id="contacteerons">E-mail: mampaa@gmail.com</p>
      <p id="contacteerons">Website: www.mampaa.be</p>
      <p id="contacteerons">Mobiel: +32123456789</p>
      <p id="contacteerons">Adres:Masterlaaan 404 3000 BronBoom</p>

<div id="info">
 <h2>Wie zijn we?</h2>
  <p id="contacteerons">
    Wij zijn een ambitieus codeerteam bestaande uit Grafische ontwerpers: Joeri, Eva en Nicolas. Jonge ondernemers die graag een vernieuwende applicatie de wereld willen inwerpen.
 </p>

<h2>Wat doen wij?</h2>
 <p id="contacteerons">
   Samen ontwikkelen wij een applicatie met data van de stad Antwerpen om een probleem op te lossen. De ene codeert en de andere lanceert het grafische ontwerp. Aan de hand van informatie technologie lessen op Antwerpen Hogeschool bereiken ze hun doel! “One code one goal”.
</p>

<h2>Bedrijfsinfo:</h2>
 <p id="contacteerons">
   Heb je een leuk idee en wil je in dit in een trendy ontwerp. Geef ons een codeerseintje dat we kunnen ontcijferen en zonder errors staat het klaar in een mum van tijd klaar. We beloven geen garantie op lange termijn.
</p>

<h2>Korte uitleg:</h2>
 <p id="contacteerons">
   Wij beloven moeders en vaders van Antwerpen dat ze nooit meer “lost” zijn met hun kinderen in Antwerpen. De applicatie biedt je de wegwijs naar de speelparken in onze koekenstad. Jammergenoeg zonder koekjes op de weg. Hans en grietjes wouden helaas niet deelnemen. Een aantal eigenschappen van de app zijn:
-       Parken selecteren per regio en aan de hand van aantal toestellen
-       Chatten met andere gebruikers
-       Informatie over de parken bekijken

</p>
</div>
    </div>

</body>
