<% include header %>

  <a class=mapmenu href="/home" id="terug">Terug</a>
    <div id="contact">
      <p id="infobedrijf">Mampaa is een fictieve app</p>
      <p id="contacteerons">E-mail: mampaa@gmail.com</p>
      <p id="contacteerons">Website: www.mampaa.be</p>
      <p id="contacteerons">Mobiel: +32123456789</p>
      <p id="contacteerons">Adres: </p>
    </div>

</body>
