<% include header %>

  <a class=mapmenu href="/home" id="terug">Terug</a>
    <div id="contact">
      <p id="infobedrijf">Mampaa is een fictieve app</p>
      <p id="contacteerons">
      E-mail: mampaa@gmail.com
      Website: www.mampaa.be
      Mobiel: +32123456789
      </p>
    </div>

</body>
