<<<<<<< HEAD
    <script src="./js/leaflet.js"></script>
    <script src="./js/leaflet-providers.js"></script>
    <script src="./js/isotope.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
=======
    <script src="./js/leaflet.js"></script>
    <script src="./js/leaflet-providers.js"></script>
    <script src="./js/isotope.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
>>>>>>> all files added
