<% include header %>

  <img class="logo" src="css/images/logo.png" alt="LogoMAMPAA">
    <div class="menu">
      <a class=hoofdmenu href="/leaflet"><img class="logomenu"src="css/images/map.png" alt="logomap">Map</a>
      <a class=hoofdmenu href="/chat"><img class="logomenu"src="css/images/chat.png" alt="logochat">Chatforum</a>
      <a class=hoofdmenu href="/lost"><img class="logomenu"src="css/images/lost.png" alt="logolost">I lost my child</a>
      <a class=hoofdmenu href="/profiel"><img class="logomenu"src="css/images/profiel.png" alt="logoprofiel">Profiel</a>
      <a class=hoofdmenu href="/parken">Alle parken</a>
    </div>
  </body>
