<% include header %>

  <img src="css/images/logo.png" alt="LogoMAMPAA">
    <div class="menu">
      <a class=hoofdmenu href="/leaflet">Map</a>
      <a class=hoofdmenu href="/chat">Chatforum</a>
      <a class=hoofdmenu href="/lost">I lost my child</a>
      <a class=hoofdmenu href="/profiel">Profiel</a>
      <a class=hoofdmenu href="/parken">Alle parken</a>
    </div>
  </body>
