<% include header %>

    <div class="menu">
      <a href="/leaflet">map</a>
      <a href="/chat">chatforum</a>
      <a href="/lost">I lost my child</a>
      <a href="/profiel">Profiel</a>
      <a href="/parken">Alle parken</a>
    </div>
  </body>
