<% include header %>
<div id="leafletbalk">
<a class=mapmenu href="/home" id="terug">Terug</a>
  <img id="hamburger" src="css/images/nav.png"></img>
  <ul id="parken">
    <div id="filter">
      <button id="isotope1" class="button" data-filter=".afstand">afstand</button>
      <button id="isotope2" class="button" data-sort-by="name">naam</button>


    </div>

      <li>

        <button onclick="myFunction()">All</button>

      </li>
      <li>item</li>
      <li>item</li>
      <li>item</li>
      <li>item</li>
      <li>item</li>
      <li>item</li>
      <li>item</li>
  </ul>

  <div class="btn-group">

    </div>
</div>
<div id="mapje"></div>

<script src="./js/leaflet.js"></script>
<script src="js/script.js"></script>
<script>

  function myFunction(){
    <% for(var i=0; i < parken.length; i++) { %>
           L.marker([<%-parken[i].geometry.y %>, <%-parken[i].geometry.x %>]).addTo(mymap)
               .bindPopup("<%- parken[i].attributes.naam%>")
           <% } %>
  }

</script>


<% include footer %>
