<% include header %>

    <form id="loginexist">
      <img class="logo" src="css/images/logo.png" alt="LogoMAMPAA">
      <p class=LogIn id="loginform">Gebruikersnaam of E-mail</p>
      <input class=veld type="text" id="login" required></input>
      <p class=LogIn id="loginform">Paswoord</p>
      <input class=veld type="password" id="login" required></input>
      <button><a href="/home">Inloggen</a></button>
      <button><a href="/register">Nog geen account?</a></button>
    </form>

</body>
