<<<<<<< HEAD
<% include header %>

    <form>
      <input type="text"></input>
      <input type="text"></input>
      <a href="/home">knop</a>
    </form>

</body>
=======
<% include header %>

    <form>
      <input type="text"></input>
      <input type="text"></input>
      <a href="/home">knop</a>
    </form>

</body>
>>>>>>> all files added
