<% include header %>

  <a class=mapmenu1 href="/home" id="terug">Terug</a>

  <p class="parken">Overzicht parken</p>

<!--  aanpassing om lijst parken te tonen-->
  <div class="grid-container">
    <% for(var i=0; i < parken.length; i++) {%>
      <a href="/detail/<%=i%>">
      <h3><%=parken[i].attributes.naam%></h3>
      </a>
    <% }%>
</div>
</body>
