<<<<<<< HEAD
<% include header %>

    <div id="parken">
      <p>Hier kan je de parken filteren</p>
    </div>

</body>
=======
<% include header %>

    <div id="parken">
      <p>Hier kan je de parken filteren</p>
    </div>

</body>
>>>>>>> all files added
