<% include header %>

    <form id="register">
      <p id="loginform">gebruikersnaam of e-mail</p>
      <input type="text" id="login" required></input>
      <p id="loginform">paswoord</p>
      <input type="password" id="login" required></input>
      <p id="loginform">bevestig paswoord</p>
      <input type="password" id="login" required></input>
      <button><a href="/">registreer</a></button>
    </form>

</body>
