<% include header %>

<img class="logo" src="css/images/logo.png" alt="LogoMAMPAA">
    <form id="register">
      <p class="registreer" id="loginform">Gebruikersnaam of e-mail</p>
      <input class=veld type="text" id="login" required></input>
      <p class="registreer" id="loginform">Paswoord</p>
      <input class=veld type="password" id="login" required></input>
      <p class="registreer" id="loginform">Bevestig paswoord</p>
      <input class=veld type="password" id="login" required></input>
      <button><a href="/">registreer</a></button>
      <a class=mapmenu2 href="/" id="terug">Terug</a>
    </form>

</body>
