/*-------------------------------Login-----------------------------*/

#login {
  display: block;
}

/*-------------------------------Leaflet-----------------------------*/

#mapje {
  width: 100vw;
  height: 100vh;
}

p {
  color:red;
}

a {
  display:block;
  font-size:20pt;
  margin-bottom:20px;
}
